

.form-container {          /*Form Container with form fields inside*/
    max-width: 100%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(243, 243, 243, 0.1);
    background-color: #ffff;
    margin-top: 1% !important;
    height: 250px !important;
  width: 1237px !important;
  }

  
  .form-submit{
    margin-top: 50px;
    text-align: center;
  }
  .mat-icon{
    color: black;
    height: 10px;
  }
  
  html,
  body {
      height: 100%;
  }
  
  .btn-pos-list{
    position: absolute;
    top: 0px;
    right: 355px;
    width: 40px;
    z-index: 1;
  }
  
  .edit-btn{
    font-size: 18px;
    color:#337ab7;
  }
  ::ng-deep .dx-datagrid .dx-row > td {
   vertical-align: middle !important;
  }
  .close-btn {
    background: transparent;
    box-shadow: none;
    border: none;
    font-size: 30px;
    color: black;
    font-weight: 700px;
    margin-left: 1134px;
    margin-top: -14px;
  }
  