<section>
  <div class="form-container"[class.open]="isFormOpen">
      <p style="font-size: larger;">Add User Role</p>
    <button (click)="restuserroleForm()" class="close-btn">&times;</button>
      <form [formGroup]="userroleForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">User Role</mat-label>
            <input matInput placeholder="Instance" class="mat-input-element custom-placeholder" formControlName="userrolename">
        </mat-form-field >
  
       
        <div class="form-submit">
          <button mat-raised-button type="submit" class="btn-primary" (click)="createUserrole()">
            Submit
          </button>
          </div>
  
      </form>
    </div>

    <div class="example-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Userrole&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{totalUserrole}}</mat-card-title>
        </mat-card-header>
      </mat-card>
     <mat-card>
        <mat-card-header>
          <mat-card-title>Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{activeUserrole}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>In-Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{deactiveUserrole}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="pos-relative">
      <div class="btn-pos-list">
        <button (click)="toggleForm()" class="add-btn" >
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>

  
      <dx-data-grid 
      [dataSource]="apiData"
      [allowColumnReordering]="true" 
      [allowColumnResizing]="true" 
      [showBorders]="true"
      [headerFilter]="{ visible: true }" 
      [searchPanel]="{ visible: true, width: 240, placeholder: 'Search...' }" 
      [paging]="{ pageSize: 12 }" 
      title="User Role"  
      [showBorders]="true" (onExporting)="onExporting($event)">
  
      <dxi-column dataField="userroleid"[allowSorting]="true" [sortOrder]="'asc'"caption="Userrole ID" [width]="130"></dxi-column>
      <dxi-column dataField="userrolename" caption="Userrole Name" [width]="250"></dxi-column>
      <dxi-column dataField="createddate" caption="Created Date" [width]="250"></dxi-column>
      <dxi-column dataField="updateddate" caption="Updated Date" [width]="250"></dxi-column>
      <dxi-column dataField="userroleisactive" caption="Active" [width]="200"></dxi-column>
      <dxi-column [visible]="true" caption="Action" alignment="center" cellTemplate="actionTemplate" [width]="200"></dxi-column>
    
      <a color="primary" *dxTemplate="let data of 'actionTemplate'" (click)="editItem(data.data)">
        <span class="material-symbols-outlined edit-btn">edit</span>   
      </a>
        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
      </dx-data-grid>
  
    </div>
  </section>
  