

  .form-container {          /*Form Container with form fields inside*/
    max-width: 100%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(243, 243, 243, 0.1);
    background-color: #ffff;
    margin-top: 1% !important;
    height: 400px !important;
  width: 1237px !important;
  }
.mat-icon{
  color: black;
  
}
  
  .form-submit{
    margin-top: 20px;
    text-align: center;
  }


  html,
body {
    height: 100%;
}
