<div class="login-container">
  <div class="login-card">
    <div class="logo">
      <h1>Connect Site</h1>
  </div>
    <div class="project-name">
      <h3>Connecting People</h3>
    </div>
  

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <!-- Email Field -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email"
        required />
    </div>

    <!-- Password Field -->
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" formControlName="password"
        placeholder="Enter your password" required />
    </div>

    <!-- Submit Button -->
    <button type="submit" class="login-button" [disabled]="loginForm.invalid">Login</button>
  </form>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
