<section>
    <div class="form-backdrop" [class.open]="isFormOpen" (click)="restuserForm()"></div>
    <div class="form-container" [class.open]="isFormOpen">
        <p style="font-size: larger;">{{ isEditMode ? 'Edit User' : 'Add User' }}</p>
        <button (click)="restuserForm()" class="close-btn">&times;</button>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Instance</mat-label>
            <select matNativeControl formControlName="instanceid"
                    (change)="onInstanceSelectionChange($event)">
              <option [value]="0" disabled>Select Instance</option>
              <option *ngFor="let item of instanceList" [value]="item.instanceid">
                {{ item.instancename }}
              </option>
            </select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">User Name</mat-label>
            <input matInput placeholder="User Name" class="mat-input-element custom-placeholder" 
            formControlName="username">
        </mat-form-field >

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">User Mobile</mat-label>
            <span style="color:black" matTextPrefix>+91 &nbsp;</span>
            <input maxlength="12" matInput placeholder="1234-567890" class="mat-input-element custom-placeholder"
            formControlName="usermobile">     
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">User Email</mat-label>
            <input matInput placeholder="User Email" class="mat-input-element custom-placeholder" 
            formControlName="useremail">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Password</mat-label>
            <input matInput type="password" placeholder="Password" class="mat-input-element custom-placeholder" 
            formControlName="userpassword">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Verify Password</mat-label>
            <input matInput type="password" placeholder="Verify Password" class="mat-input-element custom-placeholder" 
            formControlName="verifypassword">
        </mat-form-field>
       
        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Address</mat-label>
            <input matInput placeholder="Address" class="mat-input-element custom-placeholder" 
            formControlName="useraddress">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label style="color:black">City</mat-label>
          <select matNativeControl 
          formControlName="usercity"
          (change)="onSelectionChange($event)">   
          <option value="" disabled>Select</option>
              <option *ngFor="let item of dropdownItems" value={{item.cityname}}>
                {{ item.cityname }}
              </option>
            </select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">State</mat-label>
        <input matInput placeholder="State" class="mat-input-element custom-placeholder" 
        formControlName="userstate">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Country</mat-label>
        <input matInput placeholder="Country" class="mat-input-element custom-placeholder"
          formControlName="usercountry">
      </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Pincode</mat-label>
            <input matInput placeholder="Pincode" class="mat-input-element custom-placeholder" 
            formControlName="userpincode">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">User Role</mat-label>
            <select matNativeControl formControlName="userroleid">
              <option value="" disabled>Select Role</option>
              <option *ngFor="let item of userroleDropdownItems" [value]="item.userroleid">
                {{ item.userrolename }}
              </option>
            </select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">User ASA Amount</mat-label>
            <input matInput type="number" placeholder="ASA Amount" class="mat-input-element custom-placeholder" 
            formControlName="userasaamount">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Forgot Password Question</mat-label>
            <input matInput placeholder="Security question" class="mat-input-element custom-placeholder" 
            formControlName="userforgotpwquest">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Forgot Password Answer</mat-label>
            <input matInput placeholder="Security answer" class="mat-input-element custom-placeholder" 
            formControlName="userforgotpwans">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Active</mat-label>
            <select matNativeControl formControlName="userisactive">
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
        </mat-form-field>
        <div class="form-submit">
          <ng-container *appHasPermission="'user:create'">
            <button *ngIf="!isEditMode" mat-raised-button type="submit" (click)="createUser()">
              Submit
            </button>
          </ng-container>
          <ng-container *appHasPermission="'user:update'">
            <button *ngIf="isEditMode" mat-raised-button type="submit" (click)="createUser()">
              Update
            </button>
          </ng-container>
          </div>
        </form>  
    </div>


    <div class="example-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{totalUser}}</mat-card-title>
        </mat-card-header>
      </mat-card>
     <mat-card>
        <mat-card-header>
          <mat-card-title>Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{activeUser}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>In-Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{deactiveUser}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="pos-relative">
        <div class="btn-pos-list">
          <button *appHasPermission="'user:create'" (click)="toggleForm()" class="add-btn" >
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
       
 
        <dx-data-grid 
        [dataSource]="apiData"
        [allowColumnReordering]="true" 
        [allowColumnResizing]="true" 
        [showBorders]="true"
        [headerFilter]="{ visible: true }" 
        [searchPanel]="{ visible: true, width: 240, placeholder: 'Search...' }" 
        [paging]="{ pageSize: 12 }" 
        [showBorders]="true" (onExporting)="onExporting($event)"
        title="User" >

        <dxi-column dataField="userid"[allowSorting]="true" [sortOrder]="'asc'"caption="User ID" [width]="130"></dxi-column>
        <dxi-column dataField="username" caption="User Name"></dxi-column>
        <dxi-column dataField="usermobile" caption="User Mobile" [width]="150"></dxi-column>
        <dxi-column dataField="useremail" caption="User Email" [width]="250"></dxi-column>
        <dxi-column dataField="usercity" caption="User City"></dxi-column>
        <dxi-column dataField="userisactive" caption="Active" [width]="125"></dxi-column>
        <dxi-column [visible]="true" caption="Action" alignment="center" cellTemplate="actionTemplate" [width]="125"></dxi-column>
      
        
        <div *dxTemplate="let data of 'actionTemplate'" style="display: flex; gap: 10px; justify-content: center;">
          <a *appHasPermission="'user:update'" (click)="editItem(data.data)" style="cursor: pointer;">
            <span class="material-symbols-outlined action-icon edit-icon" title="Edit">edit</span>
          </a>
          <a *appHasPermission="'user:delete'" (click)="deleteItem(data.data)" style="cursor: pointer;">
            <span class="material-symbols-outlined action-icon delete-icon" title="Delete">delete</span>
          </a>
        </div>
      
          <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        </dx-data-grid>
    </div>
  </section>
  