<section>
    <div class="form-backdrop" [class.open]="isFormOpen" (click)="restuserForm()"></div>
    <div class="form-container" [class.open]="isFormOpen">
        <div class="form-header">
          <span class="form-header-title">{{ isEditMode ? 'Edit User' : 'Add User' }}</span>
          <button (click)="restuserForm()" class="close-btn" title="Close">&#10005;</button>
        </div>
        <div class="form-body">
        <div *ngIf="errorMessage" class="error-message" style="background-color: #f8d7da; color: #721c24; padding: 12px; border-radius: 4px; margin-bottom: 15px; border: 1px solid #f5c6cb;">
          {{ errorMessage }}
        </div>
        <form class="form-section" [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">Instance</mat-label>
            <mat-select formControlName="instanceid" (selectionChange)="onInstanceSelectionChange($event)">
              <mat-option value="" disabled>Select Instance</mat-option>
              <mat-option *ngFor="let item of instanceList" [value]="item.instanceid">
                {{ item.instancename }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">User Name</mat-label>
            <input matInput placeholder="User Name" class="mat-input-element custom-placeholder" 
            formControlName="username">
        </mat-form-field >

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">User Mobile</mat-label>
            <input maxlength="10" matInput placeholder="Enter 10-digit mobile number" class="mat-input-element custom-placeholder"
            formControlName="usermobile">
            <mat-error *ngIf="userForm.get('usermobile')?.hasError('required') && userForm.get('usermobile')?.touched">
              User Mobile is required
            </mat-error>
            <mat-error *ngIf="userForm.get('usermobile')?.hasError('pattern') && userForm.get('usermobile')?.touched">
              Enter a valid 10-digit mobile number
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">User Email</mat-label>
            <input matInput placeholder="User Email" class="mat-input-element custom-placeholder" 
            formControlName="useremail">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">Password</mat-label>
            <input matInput type="password" placeholder="Password" class="mat-input-element custom-placeholder" 
            formControlName="userpassword">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">Verify Password</mat-label>
            <input matInput type="password" placeholder="Verify Password" class="mat-input-element custom-placeholder" 
            formControlName="verifypassword">
        </mat-form-field>
       
        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">Address</mat-label>
            <input matInput placeholder="Address" class="mat-input-element custom-placeholder" 
            formControlName="useraddress">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label style="color:black">City</mat-label>
          <mat-select formControlName="usercity" (selectionChange)="onSelectionChange($event)">
            <mat-option value="" disabled>Select</mat-option>
            <mat-option *ngFor="let item of dropdownItems" [value]="item.cityname">
              {{ item.cityname }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('usercity')?.hasError('required') && userForm.get('usercity')?.touched">
            City is required
          </mat-error>
        </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label style="color:black">State</mat-label>
        <input matInput placeholder="State" class="mat-input-element custom-placeholder" 
        formControlName="userstate">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label style="color:black">Country</mat-label>
        <input matInput placeholder="Country" class="mat-input-element custom-placeholder"
          formControlName="usercountry">
      </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">Pincode</mat-label>
            <input matInput placeholder="Pincode" class="mat-input-element custom-placeholder" 
            formControlName="userpincode">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">User Role</mat-label>
            <mat-select formControlName="userroleid">
              <mat-option value="" disabled>Select Role</mat-option>
              <mat-option *ngFor="let item of userroleDropdownItems" [value]="(item.userroleid ?? item.userroleId)">
                {{ item.userrolename || item.userroleName }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">User ASA Amount</mat-label>
            <input matInput type="number" placeholder="ASA Amount" class="mat-input-element custom-placeholder" 
            formControlName="userasaamount">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">Forgot Password Question</mat-label>
            <input matInput placeholder="Security question" class="mat-input-element custom-placeholder" 
            formControlName="userforgotpwquest">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">Forgot Password Answer</mat-label>
            <input matInput placeholder="Security answer" class="mat-input-element custom-placeholder" 
            formControlName="userforgotpwans">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label style="color:black">Active</mat-label>
            <mat-select formControlName="userisactive">
              <mat-option value="true">
                <mat-icon style="color:#2e7d32;font-size:18px;vertical-align:middle;">check_circle</mat-icon>
                Active
              </mat-option>
              <mat-option value="false">
                <mat-icon style="color:#c62828;font-size:18px;vertical-align:middle;">cancel</mat-icon>
                Inactive
              </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="form-submit">
          <ng-container *appHasPermission="'user:create'">
            <button *ngIf="!isEditMode" mat-raised-button type="submit" (click)="createUser()">
              Submit
            </button>
          </ng-container>
          <ng-container *appHasPermission="'user:update'">
            <button *ngIf="isEditMode" mat-raised-button type="submit" (click)="createUser()">
              Update
            </button>
          </ng-container>
          </div>
        </form>
        </div><!-- /form-body -->
    </div>


 <div class="account-cards">

  <mat-card class="account-card total">
    <div class="card-content account-stat-row">
      <div class="card-icon">
        <mat-icon>person</mat-icon>
      </div>
      <span class="card-label">Total Users</span>
      <span class="card-value">{{ totalUser }}</span>
    </div>
  </mat-card>

  <mat-card class="account-card active">
    <div class="card-content account-stat-row">
      <div class="card-icon">
        <mat-icon>check_circle</mat-icon>
      </div>
      <span class="card-label">Active</span>
      <span class="card-value">{{ activeUser }}</span>
    </div>
  </mat-card>

  <mat-card class="account-card inactive">
    <div class="card-content account-stat-row">
      <div class="card-icon">
        <mat-icon>cancel</mat-icon>
      </div>
      <span class="card-label">Inactive</span>
      <span class="card-value">{{ deactiveUser }}</span>
    </div>
  </mat-card>

</div>

    <div class="pos-relative">
        <dx-data-grid 
        [dataSource]="apiData"
        [allowColumnReordering]="true" 
        [allowColumnResizing]="true" 
        [showBorders]="true"
        [headerFilter]="{ visible: true }" 
        [searchPanel]="{ visible: true, width: 240, placeholder: 'Type to search...' }" 
        [paging]="{ pageSize: 12 }" 
        [showBorders]="true" (onExporting)="onExporting($event)"
        title="User" >

        <dxo-toolbar>
          <dxi-item *appHasPermission="'user:create'" location="before">
            <div *dxTemplate>
              <button (click)="toggleForm()" class="add-btn">
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </dxi-item>
          <dxi-item name="searchPanel"></dxi-item>
          <dxi-item name="exportButton"></dxi-item>
        </dxo-toolbar>


        <dxi-column
          dataField="userid"
          caption="User ID"
          [width]="130"
          [allowSorting]="true"
          [calculateSortValue]="userIdSortValue"
          [sortOrder]="'desc'"
          [sortIndex]="0">
        </dxi-column>
        <dxi-column dataField="username" caption="User Name"></dxi-column>
        <dxi-column dataField="usermobile" caption="User Mobile" [width]="150"></dxi-column>
        <dxi-column dataField="useremail" caption="User Email" [width]="250"></dxi-column>
        <dxi-column dataField="usercity" caption="User City"></dxi-column>
        <dxi-column dataField="userisactive" caption="Active" [width]="125"></dxi-column>
        <dxi-column [visible]="true" caption="Action" alignment="center" cellTemplate="actionTemplate" [width]="125"></dxi-column>
      
        
        <div *dxTemplate="let data of 'actionTemplate'" style="display: flex; gap: 10px; justify-content: center;">
          <a *appHasPermission="'user:update'" (click)="editItem(data.data || data.row?.data || data)" style="cursor: pointer;">
            <span class="material-symbols-outlined action-icon edit-icon" title="Edit">edit</span>
          </a>
          <a *appHasPermission="'user:delete'" (click)="deleteItem(data.data || data.row?.data || data)" style="cursor: pointer;">
            <span class="material-symbols-outlined action-icon delete-icon" title="Delete">delete</span>
          </a>
        </div>
      
          <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        </dx-data-grid>
    </div>
  </section>
  