<section>
  <div class="form-container"[class.open]="isFormOpen">
    <p style="font-size: larger;">Add VAT %</p>
    <button (click)="restvatForm()" class="close-btn">&times;</button>
      <form [formGroup]="vatForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">VAT%</mat-label>
            <input matInput placeholder="Instance" class="mat-input-element custom-placeholder" formControlName="vatpercent">
        </mat-form-field >
        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Active</mat-label>
           <select matNativeControl formControlName="vatisactive">
            <option  value="" disabled>Select</option>
            <option  value="true">Active</option>
            <option  value="false">Inactive</option>
           </select>     
        </mat-form-field>
        <div class="form-submit">
          <button mat-raised-button type="submit" class="btn-primary" (click)="createVat()">
            Submit
          </button>
          </div>
</form>
  </div>
  
  
      <div class="example-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>VAT %&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{totalVat}}</mat-card-title>
          </mat-card-header>
        </mat-card>
       <mat-card>
          <mat-card-header>
            <mat-card-title>Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{activeVat}}</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>In-Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{deactiveVat}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="pos-relative">
        <div class="btn-pos-list">
          <button (click)="toggleForm()" class="add-btn" >
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
        
      <dx-data-grid 
      [dataSource]="apiData"
      [allowColumnReordering]="true" 
      [allowColumnResizing]="true" 
      [showBorders]="true"
      [headerFilter]="{ visible: true }" 
      [searchPanel]="{ visible: true, width: 240, placeholder: 'Search...' }" 
      title="VAT %" 
      [paging]="{ pageSize: 12 }" 
      [showBorders]="true" (onExporting)="onExporting($event)">
  

      <dxi-column dataField="vatid"[allowSorting]="true" [sortOrder]="'asc'"caption="Vat ID" [width]="130"></dxi-column>
      <dxi-column dataField="vatpercent" caption="VAT%" [width]="230"></dxi-column>
      <dxi-column dataField="createddate" caption="Created Date" [width]="230"></dxi-column>
      <dxi-column dataField="updateddate" caption="Updated Date" [width]="230"></dxi-column>
      <dxi-column dataField="vatisactive" caption="Active" [width]="230"></dxi-column>
      <dxi-column [visible]="true" caption="Action" alignment="center" cellTemplate="actionTemplate" [width]="230"></dxi-column>
    
      <a color="primary" *dxTemplate="let data of 'actionTemplate'" (click)="editItem(data.data)">
        <span class="material-symbols-outlined edit-btn">edit</span>   
      </a>
  
        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
      </dx-data-grid>
  
    </div>
</section>
