<section>
  <div class="form-backdrop" [class.open]="isFormOpen" (click)="restinstanceForm()"></div>
  <div class="form-container" [class.open]="isFormOpen">
    <p style="font-size: larger;">{{ isEditMode ? 'Edit Instance' : 'Add Instance' }}</p>
    <button (click)="restinstanceForm()" class="close-btn">&times;</button>

    <form class="form-section" [formGroup]="instanceForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Account</mat-label>
        <select matNativeControl
                formControlName="accountid"
                (change)="onSelectionAccountChange($event)">
          <option value="" disabled>Select Account</option>
          <option *ngFor="let item of dropdownAccountItems" [value]="item.accountid">
            {{ item.companyname }}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Owner Name</mat-label>
        <input matInput placeholder="Owner" formControlName="ownername">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Owner Mobile</mat-label>
        <input maxlength="12" matInput placeholder="1234-567890" formControlName="ownermobile" type="tel">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Owner Email</mat-label>
        <input matInput placeholder="Owner Email" formControlName="owneremail" type="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Instance Name</mat-label>
        <input matInput placeholder="Instance" formControlName="instancename">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Manager Name</mat-label>
        <input matInput placeholder="Manager Name" formControlName="managername">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Manager Mobile</mat-label>
        <input maxlength="12" matInput placeholder="1234-567890" formControlName="managermobile" type="tel">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Manager Email</mat-label>
        <input matInput placeholder="Manager Email" formControlName="manageremail" type="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Address</mat-label>
        <input matInput placeholder="Address" formControlName="instanceaddress">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">City</mat-label>
        <select matNativeControl
                formControlName="instancecity"
                (change)="onSelectionChange($event)">
          <option value="" disabled>Select City</option>
          <option *ngFor="let item of dropdownItems" [value]="item.cityname">
            {{ item.cityname }}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">State</mat-label>
        <input matInput placeholder="State" formControlName="instancestate">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Country</mat-label>
        <input matInput placeholder="Country" formControlName="instancecountry">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Pincode</mat-label>
        <input matInput placeholder="Pincode" formControlName="instancepincode">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Sales Amount</mat-label>
        <input matInput placeholder="Sales Amount" formControlName="instancesalesamount">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Sales Date</mat-label>
        <input matInput placeholder="Sales Date" formControlName="instancesalesdate">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Asa End Date</mat-label>
        <input matInput placeholder="Asa End Date" formControlName="instanceasaenddate">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Asa Amount</mat-label>
        <input matInput placeholder="Asa Amount" formControlName="instanceasaamount">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">GST Number</mat-label>
        <input matInput placeholder="GST Number" formControlName="instancegstno">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">VAT Number</mat-label>
        <input matInput placeholder="VAT Number" formControlName="instancevatno">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">FSSAI Number</mat-label>
        <input matInput placeholder="FSSAI Number" formControlName="instancefssaino">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Active</mat-label>
        <select matNativeControl formControlName="instanceisactive">
          <option value="" disabled>Select</option>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Sales Page Type</mat-label>
        <select matNativeControl formControlName="salestype">
          <option value="" disabled>Select</option>
          <option value="sales">Service Sales</option>
          <option value="inventory_sales">Product Sales</option>
          <option value="ecommerce">Ecommerce</option>
          <option value="all">All Sales Pages</option>
        </select>
        <mat-hint>Controls which sales page appears in the side menu for this instance</mat-hint>
      </mat-form-field>

      <div class="form-submit">
        <ng-container *appHasPermission="'instance:create'">
          <button *ngIf="!isEditMode" mat-raised-button type="submit" class="btn-primary">
            Submit
          </button>
        </ng-container>
        <ng-container *appHasPermission="'instance:update'">
          <button *ngIf="isEditMode" mat-raised-button type="submit" class="btn-primary">
            Update
          </button>
        </ng-container>
      </div>
    </form>
  </div>

  <div class="account-cards">

    <mat-card class="account-card total">
      <div class="card-content account-stat-row">
        <div class="card-icon">
          <mat-icon>dns</mat-icon>
        </div>
        <span class="card-label">Total Instance</span>
        <span class="card-value">{{ totalInstance }}</span>
      </div>
    </mat-card>

    <mat-card class="account-card active">
      <div class="card-content account-stat-row">
        <div class="card-icon">
          <mat-icon>check_circle</mat-icon>
        </div>
        <span class="card-label">Active</span>
        <span class="card-value">{{ activeInstance }}</span>
      </div>
    </mat-card>

    <mat-card class="account-card inactive">
      <div class="card-content account-stat-row">
        <div class="card-icon">
          <mat-icon>cancel</mat-icon>
        </div>
        <span class="card-label">Inactive</span>
        <span class="card-value">{{ deactiveInstance }}</span>
      </div>
    </mat-card>

  </div>
  <div class="pos-relative">
    <div class="btn-pos-list">
      <button *appHasPermission="'instance:create'" (click)="toggleForm()" class="add-btn">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>


    <dx-data-grid
      [dataSource]="apiData"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [showBorders]="true"
      [headerFilter]="{ visible: true }"
      [searchPanel]="{ visible: true, width: 240, placeholder: 'Type to search...' }"
      [paging]="{ pageSize: 15 }"
      [showBorders]="true" (onExporting)="onExporting($event)"
      title="Instance">

      <dxi-column
        dataField="instanceid"
        caption="Instance ID"
        [width]="130"
        [allowSorting]="true"
        [sortOrder]="'desc'"
        [sortIndex]="0"
        [width]="150">
      </dxi-column>
      <dxi-column dataField="instancename" caption="Instance Name"></dxi-column>
      <dxi-column dataField="accountid" caption="Company Name">
        <dxo-lookup
          [dataSource]="dropdownAccountItems"
          valueExpr="accountid"
          displayExpr="companyname">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="ownername" caption="Owner Name"></dxi-column>
      <dxi-column dataField="ownermobile" caption="Owner Mobile" [width]="150"></dxi-column>
      <dxi-column dataField="owneremail" caption="Owner Email" [width]="250"></dxi-column>
      <dxi-column dataField="instanceisactive" caption="Active" [width]="125"></dxi-column>
      <dxi-column [visible]="true" caption="Action" alignment="center" cellTemplate="actionTemplate" [width]="125"></dxi-column>


      <div *dxTemplate="let data of 'actionTemplate'" style="display: flex; gap: 10px; justify-content: center;">
        <a *appHasPermission="'instance:update'" (click)="editItem(data.data)" style="cursor: pointer;">
          <span class="material-symbols-outlined action-icon edit-icon" title="Edit">edit</span>
        </a>
        <a *appHasPermission="'instance:delete'" (click)="deleteItem(data.data)" style="cursor: pointer;">
          <span class="material-symbols-outlined action-icon delete-icon" title="Delete">delete</span>
        </a>
      </div>

      <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    </dx-data-grid>

  </div>
</section>
