<section>
  <div class="form-backdrop" [class.open]="isFormOpen" (click)="restinstanceForm()"></div>
  <div class="form-container" [class.open]="isFormOpen">
    <div class="form-header">
      <div class="form-header-left">
        <mat-icon class="form-header-icon">apartment</mat-icon>
        <span class="form-title">{{ isEditMode ? 'Edit Instance' : 'Add Instance' }}</span>
      </div>
      <button (click)="restinstanceForm()" class="close-btn" title="Close">&times;</button>
    </div>

    <form class="form-section" [formGroup]="instanceForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Account</mat-label>
        <mat-select formControlName="accountid" (selectionChange)="onSelectionAccountChange($event.value)">
          <mat-option *ngFor="let item of dropdownAccountItems" [value]="item.accountid">
            {{ item.companyname }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Owner Name</mat-label>
        <input matInput placeholder="Owner" formControlName="ownername">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Owner Mobile</mat-label>
        <input maxlength="12" matInput placeholder="1234-567890" formControlName="ownermobile" type="tel">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Owner Email</mat-label>
        <input matInput placeholder="Owner Email" formControlName="owneremail" type="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Instance Name</mat-label>
        <input matInput placeholder="Instance" formControlName="instancename">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Manager Name</mat-label>
        <input matInput placeholder="Manager Name" formControlName="managername">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Manager Mobile</mat-label>
        <input maxlength="12" matInput placeholder="1234-567890" formControlName="managermobile" type="tel">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Manager Email</mat-label>
        <input matInput placeholder="Manager Email" formControlName="manageremail" type="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Address</mat-label>
        <input matInput placeholder="Address" formControlName="instanceaddress">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">City</mat-label>
        <mat-select formControlName="instancecity" (selectionChange)="onSelectionChange($event.value)">
          <mat-option *ngFor="let item of dropdownItems" [value]="item.cityname">
            {{ item.cityname }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">State</mat-label>
        <input matInput placeholder="State" formControlName="instancestate">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Country</mat-label>
        <input matInput placeholder="Country" formControlName="instancecountry">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Pincode</mat-label>
        <input matInput placeholder="Pincode" formControlName="instancepincode">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Sales Amount</mat-label>
        <input matInput placeholder="Sales Amount" formControlName="instancesalesamount">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Sales Date</mat-label>
        <input matInput placeholder="Sales Date" formControlName="instancesalesdate">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Asa End Date</mat-label>
        <input matInput placeholder="Asa End Date" formControlName="instanceasaenddate">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Asa Amount</mat-label>
        <input matInput placeholder="Asa Amount" formControlName="instanceasaamount">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">GST Number</mat-label>
        <input matInput placeholder="GST Number" formControlName="instancegstno">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">VAT Number</mat-label>
        <input matInput placeholder="VAT Number" formControlName="instancevatno">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">FSSAI Number</mat-label>
        <input matInput placeholder="FSSAI Number" formControlName="instancefssaino">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Active</mat-label>
        <mat-select formControlName="instanceisactive">
          <mat-option [value]="true">Active</mat-option>
          <mat-option [value]="false">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Sales Page Type</mat-label>
        <mat-select formControlName="salestype">
          <mat-option value="sales">Service Sales</mat-option>
          <mat-option value="inventory_sales">Product Sales</mat-option>
          <mat-option value="ecommerce">Ecommerce</mat-option>
          <mat-option value="all">All Sales Pages</mat-option>
        </mat-select>
        <mat-hint>Controls which sales page appears in the side menu for this instance</mat-hint>
      </mat-form-field>

      <div class="form-submit">
        <ng-container *appHasPermission="'instance:create'">
          <button *ngIf="!isEditMode" mat-raised-button type="submit" class="btn-primary">
            Submit
          </button>
        </ng-container>
        <ng-container *appHasPermission="'instance:update'">
          <button *ngIf="isEditMode" mat-raised-button type="submit" class="btn-primary">
            Update
          </button>
        </ng-container>
      </div>
    </form>
  </div>

  <div class="account-cards">

    <mat-card class="account-card total">
      <div class="card-content account-stat-row">
        <div class="card-icon">
          <mat-icon>dns</mat-icon>
        </div>
        <span class="card-label">Total Instance</span>
        <span class="card-value">{{ totalInstance }}</span>
      </div>
    </mat-card>

    <mat-card class="account-card active">
      <div class="card-content account-stat-row">
        <div class="card-icon">
          <mat-icon>check_circle</mat-icon>
        </div>
        <span class="card-label">Active</span>
        <span class="card-value">{{ activeInstance }}</span>
      </div>
    </mat-card>

    <mat-card class="account-card inactive">
      <div class="card-content account-stat-row">
        <div class="card-icon">
          <mat-icon>cancel</mat-icon>
        </div>
        <span class="card-label">Inactive</span>
        <span class="card-value">{{ deactiveInstance }}</span>
      </div>
    </mat-card>

  </div>
  <div class="pos-relative">
    <dx-data-grid
      [dataSource]="apiData"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [showBorders]="true"
      [headerFilter]="{ visible: true }"
      [searchPanel]="{ visible: true, width: 240, placeholder: 'Type to search...' }"
      [paging]="{ pageSize: 15 }"
      [showBorders]="true" (onExporting)="onExporting($event)"
      title="Instance">

      <dxo-toolbar>
        <dxi-item name="searchPanel"></dxi-item>
        <dxi-item name="exportButton"></dxi-item>
        <dxi-item *appHasPermission="'instance:create'" location="after">
          <div *dxTemplate>
            <button *appHasPermission="'instance:create'" (click)="toggleForm()" class="add-btn">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </dxi-item>
      </dxo-toolbar>

      <dxi-column
        dataField="instanceid"
        caption="Instance ID"
        [allowSorting]="true"
        [calculateSortValue]="instanceIdSortValue"
        [sortOrder]="'desc'"
        [sortIndex]="0"
        [width]="150">
      </dxi-column>
      <dxi-column dataField="instancename" caption="Instance Name"></dxi-column>
      <dxi-column dataField="accountid" caption="Company Name">
        <dxo-lookup
          [dataSource]="dropdownAccountItems"
          valueExpr="accountid"
          displayExpr="companyname">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="ownername" caption="Owner Name"></dxi-column>
      <dxi-column dataField="ownermobile" caption="Owner Mobile" [width]="150"></dxi-column>
      <dxi-column dataField="owneremail" caption="Owner Email" [width]="250"></dxi-column>
      <dxi-column dataField="instanceisactive" caption="Active" [width]="125"></dxi-column>
      <dxi-column [visible]="true" caption="Action" alignment="center" cellTemplate="actionTemplate" [width]="160"></dxi-column>

      <div *dxTemplate="let data of 'actionTemplate'" style="display: flex; gap: 10px; justify-content: center; align-items: center;">
        <a *appHasPermission="'instance:update'" (click)="editItem(data.data)" style="cursor: pointer;">
          <span class="material-symbols-outlined action-icon edit-icon" title="Edit">edit</span>
        </a>
        <a *appHasPermission="'instance:delete'" (click)="deleteItem(data.data)" style="cursor: pointer;">
          <span class="material-symbols-outlined action-icon delete-icon" title="Delete">delete</span>
        </a>
        <ng-container *ngIf="isSuperAdmin && onlineBase && onlineBase !== '/api'">
          <a (click)="pullToLocal(data.data)" style="cursor: pointer;" title="Pull to Local DB">
            <span *ngIf="syncingInstanceId !== data.data.instanceid"
              class="material-symbols-outlined action-icon"
              [style.color]="syncStatusMap[data.data.instanceid] === 'success' ? 'green'
                           : syncStatusMap[data.data.instanceid] === 'error'   ? 'red'
                           : '#555'">
              {{ syncStatusMap[data.data.instanceid] === 'success' ? 'cloud_done'
               : syncStatusMap[data.data.instanceid] === 'error'   ? 'cloud_off'
               : 'cloud_download' }}
            </span>
            <mat-progress-spinner *ngIf="syncingInstanceId === data.data.instanceid"
              diameter="18" mode="indeterminate" color="primary">
            </mat-progress-spinner>
          </a>
        </ng-container>
      </div>

      <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    </dx-data-grid>

  </div>
</section>
