<section>
  <div class="form-container" [class.open]="isFormOpen">
    <p style="font-size: larger;">Add Instance</p>
    <button (click)="restproductForm()" class="close-btn">&times;</button>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Product Name</mat-label>
        <input matInput placeholder="Product" class="mat-input-element custom-placeholder"
          formControlName="productname">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Generic Name</mat-label>
        <input matInput placeholder="Generic Name" class="mat-input-element custom-placeholder"
          formControlName="productgeneric">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Manufacturer Name</mat-label>
        <input matInput placeholder="Manufacturer Name" class="mat-input-element custom-placeholder"
          formControlName="productmanufacturer">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Pack Name</mat-label>
        <input matInput placeholder="Pack Name" class="mat-input-element custom-placeholder"
          formControlName="productpackname">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Pack Quantity</mat-label>
        <input matInput placeholder="Pack Quantity" class="mat-input-element custom-placeholder"
          formControlName="productpackqty">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">GST %</mat-label>
        <input matInput placeholder="Generic Name" class="mat-input-element custom-placeholder"
          formControlName="productgstpercent">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">TAX %</mat-label>
        <input matInput placeholder="Generic Name" class="mat-input-element custom-placeholder"
          formControlName="producttaxpercent">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Category</mat-label>
        <input matInput placeholder="category" class="mat-input-element custom-placeholder"
          formControlName="productcategory">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Sub Category</mat-label>
        <input matInput placeholder="Sub Category" class="mat-input-element custom-placeholder"
          formControlName="productsubcategory">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Previous MRP</mat-label>
        <input matInput placeholder="MRP" class="mat-input-element custom-placeholder" formControlName="productlastmrp">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Previous MRP</mat-label>
        <input matInput placeholder="MRP" class="mat-input-element custom-placeholder" formControlName="productlastmrp">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Previous MRP</mat-label>
        <input matInput placeholder="MRP" class="mat-input-element custom-placeholder" formControlName="productlastmrp">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Previous MRP</mat-label>
        <input matInput placeholder="MRP" class="mat-input-element custom-placeholder" formControlName="productlastmrp">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Previous Price</mat-label>
        <input matInput placeholder="MRP" class="mat-input-element custom-placeholder"
          formControlName="productlastprice">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Previous Cost</mat-label>
        <input matInput placeholder="MRP" class="mat-input-element custom-placeholder"
          formControlName="productlastcost">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Sales Discount %</mat-label>
        <input matInput placeholder="Sales Discount %" class="mat-input-element custom-placeholder"
          formControlName="productsaledisper">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Pruchase Discount %</mat-label>
        <input matInput placeholder="Pruchase Discount %" class="mat-input-element custom-placeholder"
          formControlName="productpurdisper">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Purchase Offer Qty</mat-label>
        <input matInput placeholder="Purchase Offer Qty" class="mat-input-element custom-placeholder"
          formControlName="productlastpuroffqty">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Purchase Offer Free Qty</mat-label>
        <input matInput placeholder="Previous Offer Free Qty" class="mat-input-element custom-placeholder"
          formControlName="productlastpurofffreeqty">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Product Image</mat-label>
        <input matInput placeholder="Product Image" class="mat-input-element custom-placeholder"
          formControlName="productimage">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Product Description</mat-label>
        <input matInput placeholder="Product Description" class="mat-input-element custom-placeholder"
          formControlName="productdescription">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Sale Offer Qty</mat-label>
        <input matInput placeholder="Sale Offer Qty" class="mat-input-element custom-placeholder"
          formControlName="productlastsaloffqty">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Sale Offer Free Qty</mat-label>
        <input matInput placeholder="Sale Offer Free Qty" class="mat-input-element custom-placeholder"
          formControlName="productlastsalofffreeqty">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Active</mat-label>
        <select matNativeControl formControlName="instanceisactive">
          <option value="" disabled>Select</option>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>

      </mat-form-field>


      <div class="form-submit">
        <button mat-raised-button type="submit" (click)="createProduct()">
          Submit
        </button>
      </div>
    </form>
  </div>



    <div class="example-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Product&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{totalProduct}}</mat-card-title>
        </mat-card-header>
      </mat-card>
     <mat-card>
        <mat-card-header>
          <mat-card-title>Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{activeProduct}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>In-Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{deactiveProduct}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="pos-relative">
      <div class="btn-pos-list">
        <button (click)="toggleForm()" class="add-btn">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>

   
    <dx-data-grid 
    [dataSource]="apiData"
    [allowColumnReordering]="true" 
    [allowColumnResizing]="true" 
    [showBorders]="true"
    [headerFilter]="{ visible: true }" 
    [searchPanel]="{ visible: true, width: 240, placeholder: 'Search...' }"
    [paging]="{ pageSize: 12 }" 
    title="Product"
    [showBorders]="true" (onExporting)="onExporting($event)">

      <dxi-column dataField="productid"[allowSorting]="true" [sortOrder]="'asc'"caption="Product ID" [width]="130"></dxi-column>
      <dxi-column dataField="productname" caption="Product Name" [width]="200"></dxi-column>
      <dxi-column dataField="productmanufacturer" caption="Manufacturer" [width]="200"></dxi-column>
      <dxi-column dataField="productpackqty" caption="Packing" [width]="150"></dxi-column>
      <dxi-column dataField="productcategory" caption="Category" [width]="200"></dxi-column>  
      <dxi-column dataField="productisactive" caption="Active" [width]="200"></dxi-column>
      <dxi-column [visible]="true" caption="Action" alignment="center" cellTemplate="actionTemplate" [width]="200"></dxi-column>

    
      <a color="primary" *dxTemplate="let data of 'actionTemplate'" (click)="editItem(data.data)">
        <span class="material-symbols-outlined edit-btn">edit</span>   
      </a>

      <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    </dx-data-grid>

  </div>
</section>