<section>  
    <div class="form-backdrop" [class.open]="isFormOpen" (click)="restGstForm()"></div>
    <div class="form-container" [class.open]="isFormOpen">
    <p style="font-size: larger;">Add GST %</p>
    <button (click)="restGstForm()" class="close-btn">&times;</button>
      <form class="form-section" [formGroup]="gstForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Total GST%</mat-label>
            <input matInput placeholder="Instance" class="mat-input-element custom-placeholder" formControlName="totalgstpercent">
        </mat-form-field >
        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">IGST%</mat-label>
            <input matInput placeholder="Owner" class="mat-input-element custom-placeholder" formControlName="igstpercent">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">CGST%</mat-label>
            <input matInput placeholder="Manager Email" class="mat-input-element custom-placeholder" formControlName="cgstpercent">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">SGST%</mat-label>
            <input matInput placeholder="Manager Email" class="mat-input-element custom-placeholder" formControlName="sgstpercent">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">UGST%</mat-label>
            <input matInput placeholder="Manager Email" class="mat-input-element custom-placeholder" formControlName="ugstpercent">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
        <mat-label style="color:black">Chess%</mat-label>
        <input matInput type="number" step="0.001" placeholder="Chess %" class="mat-input-element custom-placeholder" formControlName="chesspercent">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label style="color:black">Active</mat-label>
           <select matNativeControl formControlName="isactive">
            <option  value="" disabled>Select</option>
            <option  value="true">Active</option>
            <option  value="false">Inactive</option>
           </select>     
        </mat-form-field>
       
        <div class="form-submit">
            <button mat-raised-button type="submit" class="btn-primary" (click)="createGst()">
              Submit
            </button>
            </div>
</form>
    </div>
    
        <div class="account-cards">
        <mat-card class="account-card total">
          <div class="card-content account-stat-row">
            <div class="card-icon"><mat-icon>percent</mat-icon></div>
            <span class="card-label">GST %</span>
            <span class="card-value">{{ totalGst }}</span>
          </div>
        </mat-card>
       <mat-card class="account-card active">
          <div class="card-content account-stat-row">
            <div class="card-icon">
              <mat-icon>check_circle</mat-icon>
            </div>
            <span class="card-label">Active</span>
            <span class="card-value">{{ activeGst }}</span>
          </div>
        </mat-card>
        <mat-card class="account-card inactive">
          <div class="card-content account-stat-row">
            <div class="card-icon"><mat-icon>cancel</mat-icon></div>
            <span class="card-label">In-Active</span>
            <span class="card-value">{{ deactiveGst }}</span>
          </div>
        </mat-card>
      </div>

      <div class="pos-relative">
        <div class="btn-pos-list">
          <button (click)="toggleForm()" class="add-btn" >
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
    
    
        <dx-data-grid 
        [dataSource]="apiData"
        [allowColumnReordering]="true" 
        [allowColumnResizing]="true" 
        [showBorders]="true"
        [headerFilter]="{ visible: true }" 
        [searchPanel]="{ visible: true, width: 240, placeholder: 'Type to search...' }" 
        title="GST %" 
        [paging]="{ pageSize: 12 }" 
        [showBorders]="true" (onExporting)="onExporting($event)">

    
      <dxi-column dataField="gstid"[allowSorting]="true" [sortOrder]="'asc'"caption="GST ID" [width]="130"></dxi-column>
        <dxi-column dataField="totalgstpercent" caption="Total GST%" [width]="150" alignment="right"
          [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
        <dxi-column dataField="igstpercent" caption="IGST %" [width]="130" alignment="right"
          [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
        <dxi-column dataField="cgstpercent" caption="CGST %" [width]="130" alignment="right"
          [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
        <dxi-column dataField="sgstpercent" caption="SGST %" [width]="130" alignment="right"
          [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
        <dxi-column dataField="ugstpercent" caption="UGST %" [width]="130" alignment="right"
          [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
        <dxi-column dataField="chesspercent" caption="CHESS %" [width]="130" alignment="right"
          [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
        <dxi-column dataField="gstisactive" caption="Active" [width]="150"></dxi-column>
        <dxi-column [visible]="true" caption="Action" alignment="center" cellTemplate="actionTemplate" [width]="150"></dxi-column>
    
      
        <div *dxTemplate="let data of 'actionTemplate'" style="display: flex; gap: 10px; justify-content: center;">
          <a (click)="editItem(data.data)" style="cursor: pointer;">
            <span class="material-symbols-outlined action-icon edit-icon" title="Edit">edit</span>
          </a>
          <a (click)="deleteItem(data.data)" style="cursor: pointer;">
            <span class="material-symbols-outlined action-icon delete-icon" title="Delete">delete</span>
          </a>
        </div>
    
    
          <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        </dx-data-grid>
    
      </div>
  </section>
  