/* =============================================================================
   Screen: Digicard form
   File: src/app/pages/digicard/digicard-form/digicard-form.component.css
   ============================================================================= */

.multi-theme {
    width: 100%;
    display: flex;
    justify-content: flex-start;

}

.loginDesign {
    width: 25%;
    height: 200px;
}

.loginDesign img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.loginDesign img.selected {
    border: 3px solid #000;
    border-radius: 8px;
}
.form-container{
    overflow-y: auto;
}

.btn-pos-list {
  position: absolute;
  top: 0px;
  right: 355px;
  width: 40px;
  z-index: 1;
}